@use '@carbon/react';
@use '@carbon/react/scss/components/ui-shell';

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cds-layer-01, #f4f4f4);
}
